html
    head 
        title= title
    body 
        header 
            nav 
              .menu 
               a(href='/') Home
               a(href="/preguntas") Preguntas
        main 
            block content
            